[Desktop Entry]
Encoding=UTF-8
Name=Maitreya6
Comment=Astrology Software
Exec=maitreya6
Icon=maitreya
GenericName=Maitreya
Terminal=false
Type=Application
Categories=Education;Science;Astronomy;
